Source: erlang-gtknode
Section: interpreters
Priority: optional
Maintainer: Hans Freitag <zem@fnordpol.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/gtknode/

Package: erlang-gtknode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a reasonably complete erlang binding for GTK+2
 the project is aimed at providing a reasonably complete erlang binding 
 for GTK+2. it is primarily intended for relatively simple GUI's, and 
 encourages the use of the glade GUI builder.
